<p id="notice"><%= notice %></p>

<h1>Players</h1>
<div style="margin:100px">
  <table>
    <tbody>
      <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Money</th>
        <th scope="col">Data</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.money %></td>
          <td><%= link_to 'Show', player %></td>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Estas seguro? hacer esto eliminara al jugador junto a sus jugadas' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <button type="button" class="btn btn-outline-primary"><%= link_to 'New Player', new_player_path %></button>
</div>
